.leftside, .rightside {
  
  height: 50vh;
  width: 100%;

}

@media screen and (min-width:768px) {

  .leftside, .rightside {

    height: 100vh;

  }

}

.leftside {

  background-color: #ffb4b4;

}

.rightside {

  background-color: #ffdcdc;

}

.form-container {

  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #bababa;

}

#nav-btn {
  
    margin-top: 20px;
    margin-right: 20px;
    position:absolute;
    top:0;
    right:0;

 }