@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(204, 204, 204);
  font-family: 'Pangolin', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.header {
  border-bottom: 1px solid rgb(224, 224, 224);
  background-color: #f7f7f7;
  padding: 20px 40px;
}

.header h1 {
  letter-spacing: 8px;
  text-shadow: 0 1px 0 #b3b3b3, 0 2px 0 #b3b3b3, 0 3px 0 #b3b3b3, 0 4px 0 #b3b3b3, 0 10px 3px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  color: rgb(98, 98, 98);
  margin: 0;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 10px -5px grey;
  width: 400px;
  max-width: 100%;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}